.apply-body-container {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.application-count-display {
  font-size: 16px;
  margin-top: 20px;
}
