.home-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}

.home-hero-image {
  margin: 30px 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid var(--gild-color);
  animation: fadeIn 2s ease;
  transition: 0.15s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.home-hero-image:hover {
  box-shadow: 0 0 30px rgb(122, 255, 244);
}

.home-hero-image:active {
  box-shadow: 0 0 30px rgb(161, 255, 178);
}

.home-hero-image.flip {
  box-shadow: 0 0 30px rgb(122, 255, 244);
  animation: flipAround 4.5s ease infinite;
}

@keyframes flipAround {
  0% {
    width: 300px;
    margin-right: 0;
    margin-left: 166px;
    box-shadow: 0 0 30px rgb(181, 132, 255);
    rotate: 0;
  }

  40% {
    rotate: -0.5deg;
  }

  49% {
    rotate: 0deg;
  }

  50% {
    width: 3px;
    margin-right: 148.5px;
    margin-left: 314.5px;
    box-shadow: 0 0 40px rgb(220, 125, 251);
  }

  51% {
    rotate: 0deg;
  }

  60% {
    rotate: 0.5deg;
  }

  100% {
    width: 300px;
    margin-right: 0;
    margin-left: 166px;
    box-shadow: 0 0 30px rgb(181, 132, 255);
    rotate: 0;
  }
}

.site-description {
  color: var(--text-color);
  margin: 20px 20px 30px 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 540px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
}

.demo-credentials {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.demo-email-address, .demo-password {
  font-size: 14px;
  margin: 0;
  animation: fadeIn 0.5s ease;
}