.home-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}

.home-hero-image {
  margin: 30px 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid var(--gild-color);
  animation: fadeIn 2s ease;
  transition: 0.15s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.home-hero-image:hover {
  box-shadow: 0 0 30px rgb(122, 255, 244);
}

.home-hero-image:active {
  box-shadow: 0 0 30px rgb(161, 255, 178);
}

.home-hero-image.flip {
  box-shadow: 0 0 30px rgb(122, 255, 244);
  animation: flipAround 4.5s ease infinite;
}

@keyframes flipAround {
  0% {
    width: 300px;
    box-shadow: 0 0 30px rgb(181, 132, 255);
    rotate: 0;
  }

  40% {
    rotate: -1deg;
  }

  49% {
    rotate: 0deg;
  }

  50% {
    width: 3px;
  }

  51% {
    rotate: 0deg;
  }

  60% {
    rotate: 1deg;
  }

  100% {
    width: 300px;
    box-shadow: 0 0 30px rgb(181, 132, 255);
    rotate: 0;
  }
}

.site-description {
  color: var(--text-color);
  margin: 20px 20px 30px 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 540px;
}

@media screen and (max-width: 550px) {
  .home-body-container {
    padding-top: 201px;
  }
}

@media screen and (max-width: 430px) {
  .home-body-container {
    padding-top: 240px;
  }
}

@media screen and (max-width: 237px) {
  .home-body-container {
    padding-top: 352px;
  }
}