.auth-body-container {
  left: 0;
  top: 0;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.527);
  z-index: 10000000;
}

.auth-prompt {
  margin: 140px 0 60px 0;
  background-color: rgb(223, 222, 222);
  border: 1px solid rgb(88, 88, 88);
  max-height: 315px;
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 18px;
}

.auth-prompt__title {
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 10px 20px 10px;
  font-weight: bold;
}

.auth-prompt__directions {
  font-size: 14px;
  margin: 20px 10px 35px 10px;
  max-width: 380px;
}

.auth-prompt__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 15px;
  flex-wrap: nowrap;
}

.auth-prompt__form--field {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.auth-prompt__form--field-label {
  font-size: 17px;
  font-family: Arial, sans-serif;
}

.auth-prompt__form--field-input {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid black;
}

.auth-prompt__form--field-input::placeholder {
  text-align: center;
}

.auth-submit {
  margin: 25px 10px 10px 10px;
  border-radius: 16px;
  border: 1px solid black;
  color: white;
  background-color: rgb(63, 86, 166);
  width: 76px;
  height: 28px;
  transition: 0.15s ease;
}

.auth-submit:hover {
  background-color: rgb(84, 108, 193);
  cursor: pointer;
}

.auth-submit:active {
  background-color: rgb(153, 175, 255);
}

.error {
  color: red;
}

.close-button {
  background: transparent;
  border: none;
  color: rgb(121, 121, 121);
  margin: 15px 80px 0 100%;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.close-button:hover {
  color: rgb(145, 144, 144);
  cursor: pointer;
}

.close-button:active {
  color: rgb(182, 181, 181);
}

.empty-auth-field-error {
  box-shadow: 0 0 5px red;
}
