.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

h1 {
  font-family: Cambria, serif;
  margin: 30px 20px 10px 20px;
}

p {
  font-family: Arial, serif;
  margin: 20px;
  max-width: 500px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .error-container {
    margin-top: 201px;
  }
}

@media screen and (max-width: 430px) {
  .error-container {
    margin-top: 240px;
  }
}

@media screen and (max-width: 237px) {
  .error-container {
    padding-top: 352px;
  }
}